name: Test
on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      branch:
        required: false
        type: string
        default: master
jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: ['2.6', '2.7', '3.0']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          text: ${{ github.event.inputs.branch }}
          regex: '^[a-zA-Z0-9_/\-]+$'
      - name: Break on invalid branch name
        run: exit 1
        if: ${{ github.event_name == 'workflow_dispatch' && steps.regex-match.outputs && steps.regex-match.outputs.match == '' }}
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
      - uses: actions/cache@v2
        with:
          path: "./vendor/bundle"
          key: v1/${{ runner.os }}/ruby-${{ matrix.ruby }}/${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: v1/${{ runner.os }}/ruby-${{ matrix.ruby }}/
      - run: bundle install
      - run: for file in specs/*.rb; do echo $file; bundle exec ruby $file; done
